body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  white-space: pre-line
}

.app-wrapper {
  padding: 20px;
  position: relative;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; 
}

.view-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.view-details {
  width: 36%;
}

.form-wrapper {
  width: 300px;
  margin: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
}

.form-wrapper h2 {
  margin-bottom: 30px;
}

.form-wrapper label,
.form-wrapper input {
  display: block;
  margin-bottom: 10px;
}

.form-wrapper button {
  display: block;
  margin-top: 25px;
  margin-right: 10px;
  align-self: flex-end;
}

#register-form button {
  align-self: flex-start;
}

.labeled-input {
  margin-bottom: 15px;
}

.labeled-input label {
  margin-bottom: 5px;
  font-size: 0.8em;
  margin-left: 2px;
  font-weight: bold;
}

.labeled-input input {
  margin-top: -4px;
}

.checkbox-field {
  display: flex;
  align-items: center;
}

.checkbox-field input[type="checkbox"] {
  margin-right: 5px;
}

.checkbox-field label {
  margin-right: 5px;
}

form .labeled-input:last-of-type {
  margin-bottom: 0;
}

a, button {
  font-weight: bold;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
}

header {
  text-align: center;
}

header h1 {
  margin-bottom: 0;
  letter-spacing: 0.2em;
}

.webring-page-link-button-group > * {
  margin-right: 8px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Shaded background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.modal h2 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
}

.modal-buttons button {
  margin-left: 10px;
}



@media (max-width: 690px) {
  .view-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .view-details {
    width: 90%;
  }

  .form-wrapper h2 {
    margin-bottom: 10px;
  }

  .form-wrapper button {
    margin-top: 10px;
  }

}

#add-link-to-webring-form {
  margin-top: 40px;
}



@media (min-width: 766px) {
  .view-wrapper {
    justify-content: center;
    margin: 30px auto;
  }

  .form-wrapper {
    margin: 0 calc((100vw - 766px) / 6);
    margin-bottom: 30px;
  }
}

.error-text {
  font-size: 0.6em;
  color: crimson;
}

.success-text {
  font-size: 0.6em;
  color: forestgreen;
}

.help-text {
  font-size: 0.8em;
  color: rgb(82, 70, 16);
  text-decoration: none;
  margin-top: 50px;
}

@media screen and (min-width: 1500px) {
  /* CSS rules for viewport width over 1500px */
  body, input, label {
    font-size: 105%;
  }



  /* Additional styles for other elements */
}