:root {
  --bg-primary-color: #fff;
  --bg-secondary-color: #fff;
  --hover-color: #551A8B;
  --link-color: #0000EE;
  --heading-color: #fff;
  --form-heading-color: #000;
  --card-bg-primary: #fff;
  --matrix-rain-color: #efefef;
}

body {
  background: linear-gradient(135deg,
      var(--bg-primary-color),
      var(--bg-secondary-color));
  background-attachment: fixed;
}

.view-details {
  background-color: #fff;
  border: 1px solid var(--bg-secondary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-wrapper {
  border: 1px solid var(--bg-primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#add-link-to-webring-form {
  background-color: var(--card-bg-primary);
}



.form-wrapper h2 {
  color: var(--form-heading-color);
}


.form-wrapper button {
  background-color: var(--bg-secondary-color);
  color: #fff;
  border: none;
}

#register-form button {
  align-self: flex-start;
  background-color: var(--bg-primary-color);
}



.labeled-input label {
  color: var(--form-heading-color);
}

a,
button {
  color: var(--link-color);
}


a:hover {
  color: var(--hover-color);
}


nav a {
  color: var(--link-color)
}

nav a:hover {
  color: var(--hover-color)
}

header h1 {
  color: var(--heading-color);
  -webkit-text-fill-color: var(--heading-color);
  text-shadow:
    -2px -2px 0 #000,
    0 -2px 0 #000,
    2px -2px 0 #000,
    2px 0 0 #000,
    2px 2px 0 #000,
    0 2px 0 #000,
    -2px 2px 0 #000,
    -2px 0 0 #000
}

.svg-container {
  background-color: #f0f0f0;
}


.outer-circle {
  fill: none;
  stroke: #000;
  stroke-width: 8;
}

.inner-circle {
  fill: none;
  stroke: #000;
  stroke-width: 8;
}

.outer-circle:hover,
.inner-circle:hover {
  stroke: var(--link-color);
}



.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.modal h2 {
  color: var(--heading-color);
}


.modal-buttons button {
  background-color: var(--bg-secondary-color);
  color: #fff;
}


.error-text {
  color: crimson;
}

.success-text {
  color: forestgreen;
}

.help-text {
  color: rgb(82, 70, 16);
}